<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>My Google App</description>
    <display-name>My Google App</display-name>
    <servlet>
        <servlet-name>ScalaServlet</servlet-name>
        <servlet-class>scalaservlet.ScalaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScalaServlet</servlet-name>
        <url-pattern>*.scala</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.scala</welcome-file>
    </welcome-file-list>
</web-app>
